.default-color0.chart-bar{
    -fx-bar-fill:#8946A6;
}
.data0.chart-bar {
    -fx-background-color: #d490dc;
}
.data1.chart-bar {
    -fx-background-color: #EA99D5;
}
.data2.chart-bar {
    -fx-background-color: #8d0c8b;
}
.data3.chart-bar {
    -fx-background-color: #8946A6;
}
.data4.chart-bar {
    -fx-background-color: #B762C1;
}
.data5.chart-bar {
    -fx-background-color: #BAABDA;
}
.data6.chart-bar {
    -fx-background-color: #EA99D5;
}
.data7.chart-bar {
    -fx-background-color: #8d0c8b;
}
.data8.chart-bar {
    -fx-background-color: #8946A6;
}
.data9.chart-bar {
    -fx-background-color: #B762C1;
}
.data10.chart-bar {
    -fx-background-color: #BAABDA;
}
.data11.chart-bar {
    -fx-background-color: #EA99D5;
}
.data12.chart-bar {
    -fx-background-color: #8d0c8b;
}
.data13.chart-bar {
    -fx-background-color: #8946A6;
}
.data14.chart-bar {
    -fx-background-color: #B762C1;
}
.data15.chart-bar {
    -fx-background-color: #BAABDA;
}
.data16.chart-bar {
    -fx-background-color: #9A0680;
}
.data17.chart-bar {
    -fx-background-color: #79018C;
}
.data18.chart-bar {
    -fx-background-color: #8946A6;
}
.data19.chart-bar {
    -fx-background-color: #B762C1;
}